<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Custom fonts for this template-->
  <!-- <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css"> -->
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
  <!-- Custom styles for this template-->
  <link rel='stylesheet' href="{{ url_for('static', filename='css/dashboardStyle.css')}}">
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.5.1.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/questionaire.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/pop.js') }}"></script>
  <!--Adding scrollTo javascript function-->
  <script src="//cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js"></script>
  {%block head%}
  {%endblock%}
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <!-- <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">TAJMA <sup>TP+</sup></div>
            </a> -->
      <a class="navbar-brand" href="#page-top"><img src="static/assets/img/tajma-logo.jpg" alt="" /></a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('dashboard', type='prof')}}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>My Profile</span></a>
      </li>
      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <li class="nav-item">
        <a class="nav-link" href="index.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>My Result</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Psychometric Tests
      </div>
      {%block sidebar%}
      <li class="nav-item " id="menu1">
        <a class="nav-link collapsed" href="{{url_for('dashboard', type='wel')}}">
          <p>Take Test</p>
        </a>
      </li>
      <!-- Side bar -->
      <!-- <li class="nav-item " id="tpOne">
        <a class="nav-link collapsed" href="{{url_for('dashboard', type='1')}}">
          <span>OUM Learners Personality Profile</span>
        </a>
      </li>

      <li class="nav-item" id="tpTwo">
        <a class="nav-link collapsed" href="{{url_for('dashboard', type='2')}}">
          <span>E-Learning Styles</span>
        </a>
      </li>

      <li class="nav-item" id="tpThree">
        <a class="nav-link collapsed" href="{{url_for('dashboard', type='3')}}">
          <span>Life-long Learning Attitude</span>
        </a>
      </li> -->
      {%endblock%}

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">
        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
              <!-- <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#info">APAKAH TP+</a></li>
              <li class="nav-item"><a class="nav-link js-scroll-trigger " href="#ask">F&Q </a></li> -->
              {% if current_user.is_authenticated %}
              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="logout">Logout</a></li>
              {% else %}
              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="login">Login</a></li>
              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="questionaire">Questionaire</a></li>
              {% endif %}
            </ul>
          </div>
        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <!-- Questionaire section -->
        <div class="container-fluid">
          {% if value is defined %}
          <!-- Timer pop up -->
          <div id="popup_box">
            <!-- OUR PopupBox DIV-->
            <a id="popupBoxClose">Close</span></a>
            <h3>Your Test Starts In...</h3>
            <h1 class="center" id="countDown"></h1>
          </div>

          <div id="container">
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
              <h1 class="h3 mb-0 text-gray-800">{{ title }}</h1>
            </div>
            <form method="POST" action="">
              <div class="form"  id="ques-ans">
              <div class="block" id="t1q1a1">
                <div class="row question">
                  <div class="col">
                    <h2>Saya tahu untuk mencari pelbagai maklumat pembelajaran di Internet </h2>
                  </div>
                </div>
                <div class="row answer" id="answer">
                  <div class="col-sm input-radio">
                    {{form.hidden_tag()}}
                    {% for subfield in form.answer1 %}
                    <tr>
                      <td>{{ subfield }}</td>
                      <td>{{ subfield.label }}</td>
                    </tr>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="block" id="t1q2a2">
                <div class="row question">
                  <div class="col">
                    <h2>Saya boleh membuat penilaian maklumat yang dikumpulkan dari Internet  </h2>
                  </div>
                </div>
                <div class="row answer" id="answer">
                  <div class="col-sm input-radio">
                    {{form.hidden_tag()}}
                    {% for subfield in form.answer2 %}
                    <tr>
                      <td>{{ subfield }}</td>
                      <td>{{ subfield.label }}</td>
                    </tr>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="block" id="t1q3a3">
                <div class="row question">
                  <div class="col">
                    <h2>Saya boleh memastikan bahan yang saya baca di Internet adalah sahih </h2>
                  </div>
                </div>
                <div class="row answer" id="answer">
                  <div class="col-sm input-radio">
                    {{form.hidden_tag()}}
                    {% for subfield in form.answer3 %}
                    <tr>
                      <td>{{ subfield }}</td>
                      <td>{{ subfield.label }}</td>
                    </tr>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="block" id="t1q4a4">
                <div class="row question">
                  <div class="col">
                    <h2>Saya dapat menghasilkan tugasan yang lebih kreatif berdasarkan bahan yang saya peroleh di Internet </h2>
                  </div>
                </div>
                <div class="row answer" id="answer">
                  <div class="col-sm input-radio">
                    {{form.hidden_tag()}}
                    {% for subfield in form.answer4 %}
                    <tr>
                      <td>{{ subfield }}</td>
                      <td>{{ subfield.label }}</td>
                    </tr>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="block" id="t1q5a5">
                <div class="row question">
                  <div class="col">
                    <h2>Saya mampu mengintegrasikan maklumat daripada internet dengan kursus pembelajaran saya </h2>
                  </div>
                </div>
                <div class="row answer" id="answer">
                  <div class="col-sm input-radio">
                    {{form.hidden_tag()}}
                    {% for subfield in form.answer5 %}
                    <tr>
                      <td>{{ subfield }}</td>
                      <td>{{ subfield.label }}</td>
                    </tr>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="block" id="t1q6a6">
                <div class="row question">
                  <div class="col">
                    <h2>Saya dapat mencari bahan pembelajaran di Internet dengan cepat </h2>
                  </div>
                </div>
                <div class="row answer" id="answer">
                  <div class="col-sm input-radio">
                    {{form.hidden_tag()}}
                    {% for subfield in form.answer6 %}
                    <tr>
                      <td>{{ subfield }}</td>
                      <td>{{ subfield.label }}</td>
                    </tr>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="block" id="t1q7a7">
                <div class="row question">
                  <div class="col">
                    <h2>Saya menggunakan masa saya dengan cekap dalam menyelesaikan tugasan  </h2>
                  </div>
                </div>
                <div class="row answer" id="answer">
                  <div class="col-sm input-radio">
                    {{form.hidden_tag()}}
                    {% for subfield in form.answer7 %}
                    <tr>
                      <td>{{ subfield }}</td>
                      <td>{{ subfield.label }}</td>
                    </tr>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="block" id="t1q8a8">
                <div class="row question">
                  <div class="col">
                    <h2>Saya menggunakan masa saya dengan cekap dalam menyelesaikan tugasan  </h2>
                  </div>
                </div>
                <div class="row answer" id="answer">
                  <div class="col-sm input-radio">
                    {{form.hidden_tag()}}
                    {% for subfield in form.answer8 %}
                    <tr>
                      <td>{{ subfield }}</td>
                      <td>{{ subfield.label }}</td>
                    </tr>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="block" id="t1q9a9">
                <div class="row question">
                  <div class="col">
                    <h2>Saya mempunyai masa untuk aktiviti riadah lain selain daripada belajar </h2>
                  </div>
                </div>
                <div class="row answer" id="answer">
                  <div class="col-sm input-radio">
                    {{form.hidden_tag()}}
                    {% for subfield in form.answer9 %}
                    <tr>
                      <td>{{ subfield }}</td>
                      <td>{{ subfield.label }}</td>
                    </tr>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="block" id="t2q1a10">
                <div class="row question">
                  <div class="col">
                    <h2>Saya mahir menggunakan sistem e-portal pembelajaran secara dalam talian  </h2>
                  </div>
                </div>
                <div class="row answer" id="answer">
                  <div class="col-sm input-radio">
                    {{form.hidden_tag()}}
                    {% for subfield in form.answer10 %}
                    <tr>
                      <td>{{ subfield }}</td>
                      <td>{{ subfield.label }}</td>
                    </tr>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="block" id="t2q2a11">
                <div class="row question">
                  <div class="col">
                    <h2>Saya mahir memuat turun dan menyimpan fail yang dilampirkan di portal e-mel pembelajaran untuk tujuan akademik</h2>
                  </div>
                </div>
                <div class="row answer" id="answer">
                  <div class="col-sm input-radio">
                    {{form.hidden_tag()}}
                    {% for subfield in form.answer11 %}
                    <tr>
                      <td>{{ subfield }}</td>
                      <td>{{ subfield.label }}</td>
                    </tr>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="block" id="t2q3a12">
                <div class="row question">
                  <div class="col">
                    <h2>Saya tahu cara melampirkan fail (PDF, Word, Image) melalui e-mel portal pembelajaran dan kemudian menghantarnya kepada pihak penerima</h2>
                  </div>
                </div>
                <div class="row answer" id="answer">
                  <div class="col-sm input-radio">
                    {{form.hidden_tag()}}
                    {% for subfield in form.answer12 %}
                    <tr>
                      <td>{{ subfield }}</td>
                      <td>{{ subfield.label }}</td>
                    </tr>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="block" id="t2q4a13">
                <div class="row question">
                  <div class="col">
                    <h2>Saya mahir menggunakan sistem emel</h2>
                  </div>
                </div>
                <div class="row answer" id="answer">
                  <div class="col-sm input-radio">
                    {{form.hidden_tag()}}
                    {% for subfield in form.answer13 %}
                    <tr>
                      <td>{{ subfield }}</td>
                      <td>{{ subfield.label }}</td>
                    </tr>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="block" id="t2q5a14">
                <div class="row question">
                  <div class="col">
                    <h2>Saya yakin cara membaca mesej yang disiarkan pada sistem persidangan segerak/tidak segerak</h2>
                  </div>
                </div>
                <div class="row answer" id="answer">
                  <div class="col-sm input-radio">
                    {{form.hidden_tag()}}
                    {% for subfield in form.answer14 %}
                    <tr>
                      <td>{{ subfield }}</td>
                      <td>{{ subfield.label }}</td>
                    </tr>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="block" id="t2q6a15">
                <div class="row question">
                  <div class="col">
                    <h2>Saya mahir mencari bahan jurnal di internet </h2>
                  </div>
                </div>
                <div class="row answer" id="answer">
                  <div class="col-sm input-radio">
                    {{form.hidden_tag()}}
                    {% for subfield in form.answer15 %}
                    <tr>
                      <td>{{ subfield }}</td>
                      <td>{{ subfield.label }}</td>
                    </tr>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="block" id="t2q7a16">
                <div class="row question">
                  <div class="col">
                    <h2>Saya mahir menggunakan pelbagai sistem pangkalan data untuk mencari bahan pembelajaran</h2>
                  </div>
                </div>
                <div class="row answer" id="answer">
                  <div class="col-sm input-radio">
                    {{form.hidden_tag()}}
                    {% for subfield in form.answer16 %}
                    <tr>
                      <td>{{ subfield }}</td>
                      <td>{{ subfield.label }}</td>
                    </tr>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="block" id="t2q8a17">
                <div class="row question">
                  <div class="col">
                    <h2>Saya mahir mencari bahan pembelajaran di internet</h2>
                  </div>
                </div>
                <div class="row answer" id="answer">
                  <div class="col-sm input-radio">
                    {{form.hidden_tag()}}
                    {% for subfield in form.answer17 %}
                    <tr>
                      <td>{{ subfield }}</td>
                      <td>{{ subfield.label }}</td>
                    </tr>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="block" id="t2q9a18">
                <div class="row question">
                  <div class="col">
                    <h2>Saya mahir menggunakan sistem emel</h2>
                  </div>
                </div>
                <div class="row answer" id="answer">
                  <div class="col-sm input-radio">
                    {{form.hidden_tag()}}
                    {% for subfield in form.answer18 %}
                    <tr>
                      <td>{{ subfield }}</td>
                      <td>{{ subfield.label }}</td>
                    </tr>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="block" id="t2q10a19">
                <div class="row question">
                  <div class="col">
                    <h2>Semasa mampu mengeluarkan pendapat saya dalam perbincangan e-forum</h2>
                  </div>
                </div>
                <div class="row answer" id="answer">
                  <div class="col-sm input-radio">
                    {{form.hidden_tag()}}
                    {% for subfield in form.answer19 %}
                    <tr>
                      <td>{{ subfield }}</td>
                      <td>{{ subfield.label }}</td>
                    </tr>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="block" id="t2q11a20">
                <div class="row question">
                  <div class="col">
                    <h2>Saya boleh menulis pandangan saya di platform e-forum dengan baik</h2>
                  </div>
                </div>
                <div class="row answer" id="answer">
                  <div class="col-sm input-radio">
                    {{form.hidden_tag()}}
                    {% for subfield in form.answer20 %}
                    <tr>
                      <td>{{ subfield }}</td>
                      <td>{{ subfield.label }}</td>
                    </tr>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="block" id="t2q121">
                <div class="row question">
                  <div class="col">
                    <h2>Saya mempunyai kemahiran literasi komputer yang baik (Contoh, Microsoft Word, Excel, PowerPoint, dll.)</h2>
                  </div>
                </div>
                <div class="row answer" id="answer">
                  <div class="col-sm input-radio">
                    {{form.hidden_tag()}}
                    {% for subfield in form.answer21 %}
                    <tr>
                      <td>{{ subfield }}</td>
                      <td>{{ subfield.label }}</td>
                    </tr>
                    {% endfor %}
                  </div>
                </div>
              </div>
                <fieldset>
                  <div class="form-group center">
                    {{ form.submit(class="btn btn-outline-info") }}
                  </div>
                </fieldset>

              </div>

            </form>
          </div>
          {% endif %}
        </div>
        <!-- profile section -->
        <div class="container-fluid">
          {% if prof is defined %}
          <!-- Page Heading -->
          <!-- <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">{{ title }}</h1>
                    </div> -->
          <div class="container">
            <div class="main-body">
              <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex flex-column align-items-center text-center">
                        <img src="{{ prof.image }}" alt="Admin" class="rounded-circle" width="150">
                        <div class="mt-3">
                          <h4>{{prof.fullname}}</h4>
                          <p class="text-secondary mb-1">OUM Student</p>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="card mt-3">
                    <button id="buttonUpdate" type="button" class="btn btn-primary" style="float: right;">
                      <a class="nav-link" href="{{url_for('dashboard', type='mod')}}" style="color: white;">Update
                        Profile</a>
                    </button>
                    {% if form is defined%}
                    <form method="POST" action="" enctype="multipart/form-data">
                      {{form.hidden_tag()}}
                      <fieldset class="form-group">
                        <div class="form-group">
                          {{ form.picture.label(class="text-dark center") }}
                          {{ form.picture(class="form-control-file") }}
                          {% if form.picture.errors %}
                          {% for error in form.picture.errors %}
                          <span class="text-danger">{{ error }}</span></br>
                          {% endfor %}
                          {% endif %}
                        </div>

                        <div class="form-group center">
                          {{ form.update(class="btn btn-primary") }}
                        </div>
                      </fieldset>
                      <form>
                        {%endif%}

                  </div>

                </div>
                <div class="col-md-8">
                  <div class="card mb-3">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Full Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{prof.fullname}}
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Gender</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{prof.gender}}
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Age</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{prof.age}}
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">IC Number</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{prof.IC}}
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Race</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{prof.race}}
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Mobile No.</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{prof.mobile}}
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Email</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{prof.email}}
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
        <!-- Welcome questionaire section -->
        <div class="container-fluid">
          {% if welcome is defined %}
          <h1>Choose your test</h1>
          <div class="container-fluid" style="padding-top: 150px">
            <div class="row" style="padding-bottom : 20px">
              <div class="col-md-4">
                <h2 class="center">
                  OUM Learners Personality Profile
                </h2>
              </div>
              <div class="col-md-4">
                <h2 class="center">
                  E-Learning Styles
                </h2>
              </div>
              <div class="col-md-4">
                <h2 class="center">
                  Life-long Learning Attitude
                </h2>
              </div>
            </div>
            <div class="row" style="padding-bottom: 20px;">

              <div class="col-md-4">
                <p>
                  Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                  mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
                  mollis euismod. Donec sed odio dui.
                </p>
              </div>
              <div class="col-md-4">
                <p>
                  Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                  mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
                  mollis euismod. Donec sed odio dui.
                </p>
              </div>
              <div class="col-md-4">
                <p>
                  Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                  mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
                  mollis euismod. Donec sed odio dui.
                </p>
              </div>

            </div>
            <div class="row">
              <div class="col-md-4">
                <p>
                  <a class="btn-primary btn-lg" href="{{url_for('dashboard', type='1')}}">Take Test »</a>
                </p>
              </div>
              <div class="col-md-4">
                <p>
                  <a class="btn-primary btn-lg" href="{{url_for('dashboard', type='1')}}">Take Test »</a>
                </p>
              </div>
              <div class="col-md-4">
                <p>
                  <a class="btn-primary btn-lg" href="{{url_for('dashboard', type='1')}}">Take Test »</a>
                </p>
              </div>

            </div>
          </div>
        </div>

        {% endif %}
      </div>

      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; OUM & TAJMA 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

</body>

</html>