{%extends 'dashboard.html' %}
{%block head%}
<link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js"></script>
<script>
  var events = JSON.parse('{{events | tojson | safe}}');
  document.addEventListener("DOMContentLoaded", function () {
    console.log(events)
    var calendarEl = document.getElementById("calendar");
    var calendar = new FullCalendar.Calendar(calendarEl, {
      timeZone: 'local',
      height: 500,
      width : 400,
      headerToolbar: {
        start: 'dayGridMonth,timeGridWeek,timeGridDay',
        center: 'title',
        end: 'prevYear,prev,next,nextYear'
      }, // buttons for switching between views
      views: {
        dayGridMonth: {
          // name of view
          titleFormat: {
            year: "numeric",
            month: 'long',
          },
          // other view-specific options here
        },
      },
      weekends: false,
      events: events
    });
    calendar.render();
    //Setting the options, options can be set after the calendar is initialize
    //calendar.setOption("locale", "fr");
    //calendar.setOption("private", "myr");
    //calendar.setOption("locale", "btc");

    //can obtain list of info in dateClickevent
    calendar.on("dateClick", function (info) {
      console.log("info is ", info)
      // Get the modal
      var modal = document.getElementById("myModal");
      $(".modal-body #todaydate").val(new Date().toISOString().split("T")[0]);
      $(".modal-body #appointmentdate").val(new Date(info.dateStr).toISOString().split("T")[0]);
      $("#myModal").modal("show");
    });
  });
  $(document).ready(function () {
    $("#appointmentdate").datepicker({ dateFormat: 'yy-mm-dd' });
  });
</script>

{%endblock%}
{%block body%}
<!-- Pop Up Calendar to insert event -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Choose date for your appointment
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="">
          {{form.hidden_tag()}}
          {% for field in form %}
          <div class="form-group">
            {% if field.type=="DateField" %}
            {{field.label(class="form-control-label")}}
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="material-symbols-outlined input-group-text">event
                </span>
              </div>
              {{ field(style="border: none") }}
            </div>
            {% endif %}
            {% if field.type =="SelectField" %}
            {{field.label(class="form-control-label")}}
            {{field}}
            {% endif%}
            {% if field.type =="TextAreaField" %}
            {{field.label(class="form-control-label")}}
            <br>
            {{field(cols="50", rows="4")}}
            {% endif%}
            {% if field.type =="SubmitField" %}
            <div class="modal-footer">
              {{field(class="btn btn-primary")}}
              <button type="button" class="btn btn-secondary" data-dismiss="modal">
                Close
              </button>
            </div>
            {% endif%}
          </div>
          {% endfor %}
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Main calendar -->
<div id="calendar" style="margin-left: 30px"></div>
{%endblock%}