{%extends 'dashboard.html' %} {%block head%}
<link
  href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css"
  rel="stylesheet"
/>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var calendarEl = document.getElementById("calendar");
    // var calendar = new FullCalendar.Calendar(calendarEl, {
    //   initialView: "dayGridMonth",
    // });
    // calendar.render();

    var calendar = new FullCalendar.Calendar(calendarEl, {
      headerToolbar: {
        left: "dayGridMonth",
        center: "dayGridMonth,timeGridWeek",
        right: "timeGridWeek",
      }, // buttons for switching between views
      views: {
        dayGridMonth: {
          // name of view
          titleFormat: {
            year: "numeric",
            month: "2-digit",
            day: "2-digit",
          },
          // other view-specific options here
        },
      },
      weekends: false,
      events: [
        {
          title: "Meeting with AbuDhabi",
          start: "2022-10-03",
          end : "2022-10-06"
        },
        {
          title: "Deployment",
          start: "2022-10-07",
          allDay : true
        },
        {
          title: "Rest time",
          start: "2022-10-12",
          end: "2022-10-13",
        },
        {
          title: "Coding whole day",
          start: "2022-10-28",
          allDay: true, // will make the time show
        },
      ],
      //   eventSources: [
      //     // your event source
      //     {
      //       events: [
      //         // put the array in the `events` property
      //         {
      //           title: "event1",
      //           start: "2022-6-10",
      //         },
      //         {
      //           title: "event2",
      //           start: "2010-01-05",
      //           end: "2010-01-07",
      //         },
      //         {
      //           title: "event3",
      //           start: "2010-01-09T12:30:00",
      //         },
      //       ],
      //       color: "black", // an option!
      //       textColor: "yellow", // an option!
      //     },

      //     // any other event sources...
      //   ],
      //Static handler
      //   dateClick: function () {
      //     alert("a day has been clicked!");
      //   },
      //   initialView : this.changeView( 'dayGridMonth')
    });
    calendar.render();
    //Setting the options, options can be set after the calendar is initialize
    calendar.setOption("locale", "fr");
    calendar.setOption("private", "myr");
    calendar.setOption("locale", "btc");
    console.log("locale is : ", calendar.getOption("private"));

    //can obtain list of info in dateClickevent
    calendar.on("dateClick", function (info) {
      console.log("OnClick")
      // Get the modal
      var modal = document.getElementById("myModal");
      // $(".modal-body #todaydate").val( new Date().toISOString().split('T')[0] );
      $(".modal-body #appointmentdate").val( info.dateStr );
      $('#myModal').modal('show')
      // alert("What do u want to do with this date? " + info.dateStr);
    });
    // var calendar = new Calendar(calendarEl, {
    //   views: {
    //     dayGrid: {
    //       // options apply to dayGridMonth, dayGridWeek, and dayGridDay views
    //     },
    //     timeGrid: {
    //       // options apply to timeGridWeek and timeGridDay views
    //     },
    //     week: {
    //       // options apply to dayGridWeek and timeGridWeek views
    //     },
    //     day: {
    //       // options apply to dayGridDay and timeGridDay views
    //     },
    //   },
    // });
  });
  $(document).ready(function() {
    $('#todaydate').datepicker({
      language: 'pt-BR'
    });
    // $('#todaydate').change(function() {
    //     startDate = $(this).datepicker('getDate');
    //     // $("#my_date_picker2").datepicker("option", "minDate", startDate);
    // })
  });
</script>

{%endblock%} {%block body%}
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Choose date for your appointment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label for="todaydate">Today date</label><br>
            <div class="input-group">
              <div class="input-group-prepend" >
                <span class="material-symbols-outlined input-group-text">event</span> 
              </div>
              <input type="text" class="form-control" id="todaydate" aria-describedby="inputGroupPrepend2" required>
            </div>
          </div>
          <div  class="form-group">
            <label for="appointmentdate">Appointment date</label><br>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="material-symbols-outlined input-group-text">event</span> 
              </div>
              <input type="text" class="form-control" id="appointmentdate" placeholder="dd/MM/yyyy" data-format="dd/MM/yyyy" aria-describedby="inputGroupPrepend2" required>
            </div>
          </div>
          <div class="form-group">
              <label >Choose your slot</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>10am - 11pm</option>
                <option>11am - 1pm</option>
                <option>2pm - 3pm</option>
                <option>3am - 4pm</option>
              </select>
          </div>
          <div class="form-group">
            <label >Choose your caunselor</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>Dr Ahmad Idham</option>
              <option>Prof Tajudin</option>
              <option>Caunselor Siti Saleha</option>
              <option>Psychiatrist Adeha</option>
            </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div id="calendar" style="margin-left: 30px;"></div>

{%endblock%}
