{%extends 'Profile.html' %}
{%block availability%}
<div class="container">
    <form method="POST" action="/">
        {{ availability_form.csrf_token }}
        {{ availability_form.name.label }}
        {{availability_form.name(size=20)}}
        {% for subfield in availability_form.days %}
        <tr>
            <td>{{ subfield }}</td>
            <td>{{ subfield.label }}</td>
        </tr>
        {% endfor %}
        {{availability_form.session_start.label}}
        {{availability_form.session_start}}        
        {{availability_form.session_end.label}}
        {{availability_form.session_end}}
        <input type="submit" value="Go" />
    </form>
</div>
{%endblock%}