{%extends 'dashboard.html' %}

{%block head %}
<title>DASHBOARD</title>

<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/img/favicon.ico') }}" />
<!-- Core theme CSS (includes Bootstrap)-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/questionaireStyle.css') }}">
<!-- jquery plugin -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.5.1.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/questionaire.js') }}"></script>
<!--Adding scrollTo javascript function-->
<script src="//cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js"></script>
{%endblock%}

{%block sidebar%}
<!-- Nav Item - Pages Collapse Menu -->
<li class="nav-item">
    <a class="nav-link collapsed"  href="learner">
        <span>OUM Learners Personality Profile</span>
    </a>
</li>

<!-- Nav Item - Utilities Collapse Menu -->
<li class="nav-item">
    <a class="nav-link collapsed"  href="elearning">
        <span>E-Learning Styles</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link collapsed" style="background-color: #602fdf;" href="attitude">
        <span>Life-long Learning Attitude</span>
    </a>
</li>
{%endblock%}

{%block body%}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Life-long Learning Attitude</h1>
</div>
<div class="form">
    <h1>The title</h1>
    {% for num, ques in value %}
    <div class="block">
        <div class="row question">
            <div class="col">
                <h2>{{ques}}</h2>
            </div>
        </div>
        <div class="row answer">
            <div class="col-sm input-radio">
                <input type="radio" name="editList" value="One">1
                <input type="radio" name="editList" value="Two">2
                <input type="radio" name="editList" value="Three">3
                <input type="radio" name="editList" value="Four">4
                <input type="radio" name="editList" value="Five">5
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</body>

{%endblock%}