{%extends 'dashboard.html' %}

{%block head %}
<title>DASHBOARD</title>

<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/img/favicon.ico') }}" />
<!-- Core theme CSS (includes Bootstrap)-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/questionaireStyle.css') }}">
<!-- jquery plugin -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.5.1.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/questionaire.js') }}"></script>
<!--Adding scrollTo javascript function-->
<script src="//cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js"></script>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{%endblock%}

{%block sidebar%}
<li class="nav-item">
  <a class="nav-link collapsed" style="background-color: #602fdf; color: #fff;">
    <span>E-Learning Styles</span>
  </a>
</li>

<li class="nav-item">
  <a class="nav-link collapsed" style="color: #fff;">
    <span>Life-long Learning Attitude</span>
  </a>
</li>

<li class="nav-item">
  <a class="nav-link collapsed" style="color: #fff;">
    <span>OUM Learners Personality Profile</span>
  </a>
</li>

{%endblock%}

{%block body%}
<!-- Confirmation popup -->
<script>
  $(document).ready(function () {
    $('#btnSubmit').click(function () {
      $('#myCongrats').modal('show');
      event.preventDefault();
      return false;
    });
  });
</script>
<!-- Timer pop up -->
<div id="popup_box">
  <a id="popupBoxClose">Close</span></a>
  <h3>Your Test Starts In...</h3>
  <h1 class="center" id="countDown"></h1>
</div>

<!-- Instruction pop up -->
<script>
  $(document).ready(function () {
    $("#myInstru").modal('show');
  });
</script>

<div id="myInstru" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Instructions</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <ul>
          <li>The questionaire contains 50 items</li>
          <li>Please answer all the questions with honesty and sincerity </li>
          <li>There is no correct or wrong answer</li>
          <li>The first answer that come through your mind is the most accurate</li>
          <li>Good luck</li>

        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div id="container">
    <form method="POST" action="">
      <!-- Confirmation pop up -->
      <div id="myCongrats" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Congratulations</h5>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <h5>Are you sure you want to submit?</h3><br>
                <h6>You will be redirected to the next questionaire after confirmation of submission</h6>
            </div>
            <div class="modal-footer">
              {{ form.submit(class="btn btn-outline-info") }}
              <!-- <a href="#" target="_top" data-dismiss="modal" aria-hidden="true" class="btn confirm" id="btnYes">Yes</a> -->
              <a href="#" data-dismiss="modal" aria-hidden="true" class="btn btn-outline-info">No</a>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col" style="margin-top:10px">
            <div class="num center">
              <h1 class="num-rounded">1</h1>
            </div>
            <div class="num center">
              <h1 class="num-rounded">2</h1>
            </div>
            <div class="num center">
              <h1 class="num-rounded">3</h1>
            </div>
            <div class="num center">
              <h1 class="num-rounded">4</h1>
            </div>
            <div class="num center">
              <h1 class="num-rounded">5</h1>
            </div>
            <div class="num center">
              <h1 class="num-rounded">6</h1>
            </div>
            <div class="num center">
              <h1 class="num-rounded">7</h1>
            </div>
            <div class="num center">
              <h1 class="num-rounded">8</h1>
            </div>
            <div class="num center">
              <h1 class="num-rounded">9</h1>
            </div>
            <div class="num center">
              <h1 class="num-rounded">10</h1>
            </div>
            <div class="num center">
              <h1 class="num-rounded">11</h1>
            </div>
            <div class="num center">
              <h1 class="num-rounded">12</h1>
            </div>
            <div class="num center">
              <h1 class="num-rounded">13</h1>
            </div>
            <div class="num center">
              <h1 class="num-rounded">14</h1>
            </div>
            <div class="num center">
              <h1 class="num-rounded">15</h1>
            </div>
            <div class="num center">
              <h1 class="num-rounded">16</h1>
            </div>
            <div class="num center">
              <h1 class="num-rounded">17</h1>
            </div>
            <div class="num center">
              <h1 class="num-rounded">18</h1>
            </div>
            <div class="num center">
              <h1 class="num-rounded">19</h1>
            </div>
            <div class="num center">
              <h1 class="num-rounded">20</h1>
            </div>
            <div class="num center">
              <h1 class="num-rounded">21</h1>
            </div>
            <div class="num center">
              <h1 class="num-rounded">22</h1>
            </div>
            <div class="num center">
              <h1 class="num-rounded">23</h1>
            </div>
            <div class="num center">
              <h1 class="num-rounded">24</h1>
            </div>
            <div class="num center">
              <h1 class="num-rounded">25</h1>
            </div>
            <div class="num center">
              <h1 class="num-rounded">26</h1>
            </div>
            <div class="num center">
              <h1 class="num-rounded">27</h1>
            </div>
            <div class="num center">
              <h1 class="num-rounded">28</h1>
            </div>
            <div class="num center">
              <h1 class="num-rounded">29</h1>
            </div>
            <div class="num center">
              <h1 class="num-rounded">30</h1>
            </div>





          </div>
          <div class="form col-xl-" id="ques-ans">
            <div class="block" id="t1q1a1">
              <div class="row question">
                <div class="col">
                  <h2>Saya tahu untuk mencari pelbagai maklumat pembelajaran di Internet </h2>
                </div>
              </div>
              <div class="row answer" id="answer">
                <h5 style="margin-left: 70px;">Very disagree</h1>
                  <div class="col-sm input-radio">
                    {{form.hidden_tag()}}
                    {% for subfield in form.answer1 %}
                    <tr>
                      <td>{{ subfield }}</td>
                      <td>{{ subfield.label(class_="radio-button") }}</td>
                    </tr>
                    {% endfor %}
                  </div>
                  <h5 style="margin-right: 70px;">Very agree</h1>
              </div>
            </div>
            <div class="block" id="t1q2a2">
              <div class="row question">
                <div class="col">
                  <h2>Saya boleh membuat penilaian maklumat yang dikumpulkan dari Internet </h2>
                </div>
              </div>
              <div class="row answer" id="answer">
                <h5 style="margin-left: 70px;">Very disagree</h1>
                  <div class="col-sm input-radio">
                    {{form.hidden_tag()}}
                    {% for subfield in form.answer2 %}
                    <tr>
                      <td>{{ subfield }}</td>
                      <td>{{ subfield.label(class_="radio-button")}}</td>
                    </tr>
                    {% endfor %}
                  </div>
                  <h5 style="margin-right: 70px;">Very agree</h1>
              </div>
            </div>
            <div class="block" id="t1q3a3">
              <div class="row question">
                <div class="col">
                  <h2>Saya boleh memastikan bahan yang saya baca di Internet adalah sahih </h2>
                </div>
              </div>
              <div class="row answer" id="answer">
                <h5 style="margin-left: 70px;">Very disagree</h1>
                  <div class="col-sm input-radio">
                    {{form.hidden_tag()}}
                    {% for subfield in form.answer3 %}
                    <tr>
                      <td>{{ subfield }}</td>
                      <td>{{ subfield.label(class_="radio-button") }}</td>
                    </tr>
                    {% endfor %}
                  </div>
                  <h5 style="margin-right: 70px;">Very agree</h1>
              </div>
            </div>
            <div class="block" id="t1q4a4">
              <div class="row question">
                <div class="col">
                  <h2>Saya dapat menghasilkan tugasan yang lebih kreatif berdasarkan bahan yang saya peroleh di Internet
                  </h2>
                </div>
              </div>
              <div class="row answer" id="answer">
                <h5 style="margin-left: 70px;">Very disagree</h1>
                  <div class="col-sm input-radio">
                    {{form.hidden_tag()}}
                    {% for subfield in form.answer4 %}
                    <tr>
                      <td>{{ subfield }}</td>
                      <td>{{ subfield.label(class_="radio-button") }}</td>
                    </tr>
                    {% endfor %}
                  </div>
                  <h5 style="margin-right: 70px;">Very agree</h1>
              </div>
            </div>
            <div class="block" id="t1q5a5">
              <div class="row question">
                <div class="col">
                  <h2>Saya mampu mengintegrasikan maklumat daripada internet dengan kursus pembelajaran saya </h2>
                </div>
              </div>
              <div class="row answer" id="answer">
                <h5 style="margin-left: 70px;">Very disagree</h1>
                  <div class="col-sm input-radio">
                    {{form.hidden_tag()}}
                    {% for subfield in form.answer5 %}
                    <tr>
                      <td>{{ subfield }}</td>
                      <td>{{ subfield.label(class_="radio-button") }}</td>
                    </tr>
                    {% endfor %}
                  </div>
                  <h5 style="margin-right: 70px;">Very agree</h1>
              </div>
            </div>
            <div class="block" id="t1q6a6">
              <div class="row question">
                <div class="col">
                  <h2>Saya dapat mencari bahan pembelajaran di Internet dengan cepat </h2>
                </div>
              </div>
              <div class="row answer" id="answer">
                <h5 style="margin-left: 70px;">Very disagree</h1>
                  <div class="col-sm input-radio">
                    {{form.hidden_tag()}}
                    {% for subfield in form.answer6 %}
                    <tr>
                      <td>{{ subfield }}</td>
                      <td>{{ subfield.label(class_="radio-button") }}</td>
                    </tr>
                    {% endfor %}
                  </div>
                  <h5 style="margin-right: 70px;">Very agree</h1>
              </div>
            </div>
            <div class="block" id="t1q7a7">
              <div class="row question">
                <div class="col">
                  <h2>Saya menggunakan masa saya dengan cekap dalam menyelesaikan tugasan </h2>
                </div>
              </div>
              <div class="row answer" id="answer">
                <h5 style="margin-left: 70px;">Very disagree</h1>
                  <div class="col-sm input-radio">
                    {{form.hidden_tag()}}
                    {% for subfield in form.answer7 %}
                    <tr>
                      <td>{{ subfield }}</td>
                      <td>{{ subfield.label(class_="radio-button") }}</td>
                    </tr>
                    {% endfor %}
                  </div>
                  <h5 style="margin-right: 70px;">Very agree</h1>
              </div>
            </div>
            <div class="block" id="t1q8a8">
              <div class="row question">
                <div class="col">
                  <h2>Saya menggunakan masa saya dengan cekap dalam menyelesaikan tugasan </h2>
                </div>
              </div>
              <div class="row answer" id="answer">
                <h5 style="margin-left: 70px;">Very disagree</h1>
                  <div class="col-sm input-radio">
                    {{form.hidden_tag()}}
                    {% for subfield in form.answer8 %}
                    <tr>
                      <td>{{ subfield }}</td>
                      <td>{{ subfield.label(class_="radio-button") }}</td>
                    </tr>
                    {% endfor %}
                  </div>
                  <h5 style="margin-right: 70px;">Very agree</h1>
              </div>
            </div>
            <div class="block" id="t1q9a9">
              <div class="row question">
                <div class="col">
                  <h2>Saya mempunyai masa untuk aktiviti riadah lain selain daripada belajar </h2>
                </div>
              </div>
              <div class="row answer" id="answer">
                <h5 style="margin-left: 70px;">Very disagree</h1>
                  <div class="col-sm input-radio">
                    {{form.hidden_tag()}}
                    {% for subfield in form.answer9 %}
                    <tr>
                      <td>{{ subfield }}</td>
                      <td>{{ subfield.label(class_="radio-button") }}</td>
                    </tr>
                    {% endfor %}
                  </div>
                  <h5 style="margin-right: 70px;">Very agree</h1>
              </div>
            </div>
            <div class="block" id="t2q1a10">
              <div class="row question">
                <div class="col">
                  <h2>Saya mahir menggunakan sistem e-portal pembelajaran secara dalam talian </h2>
                </div>
              </div>
              <div class="row answer" id="answer">
                <h5 style="margin-left: 70px;">Very disagree</h1>
                  <div class="col-sm input-radio">
                    {{form.hidden_tag()}}
                    {% for subfield in form.answer10 %}
                    <tr>
                      <td>{{ subfield }}</td>
                      <td>{{ subfield.label(class_="radio-button") }}</td>
                    </tr>
                    {% endfor %}
                  </div>
                  <h5 style="margin-right: 70px;">Very agree</h1>
              </div>
            </div>
            <div class="block" id="t2q2a11">
              <div class="row question">
                <div class="col">
                  <h2>Saya mahir memuat turun dan menyimpan fail yang dilampirkan di portal e-mel pembelajaran untuk
                    tujuan
                    akademik</h2>
                </div>
              </div>
              <div class="row answer" id="answer">
                <h5 style="margin-left: 70px;">Very disagree</h1>
                  <div class="col-sm input-radio">
                    {{form.hidden_tag()}}
                    {% for subfield in form.answer11 %}
                    <tr>
                      <td>{{ subfield }}</td>
                      <td>{{ subfield.label(class_="radio-button") }}</td>
                    </tr>
                    {% endfor %}
                  </div>
                  <h5 style="margin-right: 70px;">Very agree</h1>
              </div>
            </div>
            <div class="block" id="t2q3a12">
              <div class="row question">
                <div class="col">
                  <h3>Saya tahu cara melampirkan fail (PDF, Word, Image) melalui e-mel portal pembelajaran dan kemudian
                    menghantarnya kepada pihak penerima</h3>
                </div>
              </div>
              <div class="row answer" id="answer">
                <h5 style="margin-left: 70px;">Very disagree</h1>
                  <div class="col-sm input-radio">
                    {{form.hidden_tag()}}
                    {% for subfield in form.answer12 %}
                    <tr>
                      <td>{{ subfield }}</td>
                      <td>{{ subfield.label(class_="radio-button") }}</td>
                    </tr>
                    {% endfor %}
                  </div>
                  <h5 style="margin-right: 70px;">Very agree</h1>
              </div>
            </div>
            <div class="block" id="t2q4a13">
              <div class="row question">
                <div class="col">
                  <h2>Saya mahir menggunakan sistem emel</h2>
                </div>
              </div>
              <div class="row answer" id="answer">
                <h5 style="margin-left: 70px;">Very disagree</h1>
                  <div class="col-sm input-radio">
                    {{form.hidden_tag()}}
                    {% for subfield in form.answer13 %}
                    <tr>
                      <td>{{ subfield }}</td>
                      <td>{{ subfield.label(class_="radio-button") }}</td>
                    </tr>
                    {% endfor %}
                  </div>
                  <h5 style="margin-right: 70px;">Very agree</h1>
              </div>
            </div>
            <div class="block" id="t2q5a14">
              <div class="row question">
                <div class="col">
                  <h2>Saya yakin cara membaca mesej yang disiarkan pada sistem persidangan segerak/tidak segerak</h2>
                </div>
              </div>
              <div class="row answer" id="answer">
                <h5 style="margin-left: 70px;">Very disagree</h1>
                  <div class="col-sm input-radio">
                    {{form.hidden_tag()}}
                    {% for subfield in form.answer14 %}
                    <tr>
                      <td>{{ subfield }}</td>
                      <td>{{ subfield.label(class_="radio-button") }}</td>
                    </tr>
                    {% endfor %}
                  </div>
                  <h5 style="margin-right: 70px;">Very agree</h1>
              </div>
            </div>
            <div class="block" id="t2q6a15">
              <div class="row question">
                <div class="col">
                  <h2>Saya mahir mencari bahan jurnal di internet </h2>
                </div>
              </div>
              <div class="row answer" id="answer">
                <h5 style="margin-left: 70px;">Very disagree</h1>
                  <div class="col-sm input-radio">
                    {{form.hidden_tag()}}
                    {% for subfield in form.answer15 %}
                    <tr>
                      <td>{{ subfield }}</td>
                      <td>{{ subfield.label(class_="radio-button") }}</td>
                    </tr>
                    {% endfor %}
                  </div>
                  <h5 style="margin-right: 70px;">Very agree</h1>
              </div>
            </div>
            <div class="block" id="t2q7a16">
              <div class="row question">
                <div class="col">
                  <h2>Saya mahir menggunakan pelbagai sistem pangkalan data untuk mencari bahan pembelajaran</h2>
                </div>
              </div>
              <div class="row answer" id="answer">
                <h5 style="margin-left: 70px;">Very disagree</h1>
                  <div class="col-sm input-radio">
                    {{form.hidden_tag()}}
                    {% for subfield in form.answer16 %}
                    <tr>
                      <td>{{ subfield }}</td>
                      <td>{{ subfield.label(class_="radio-button") }}</td>
                    </tr>
                    {% endfor %}
                  </div>
                  <h5 style="margin-right: 70px;">Very agree</h1>
              </div>
            </div>
            <div class="block" id="t2q8a17">
              <div class="row question">
                <div class="col">
                  <h2>Saya mahir mencari bahan pembelajaran di internet</h2>
                </div>
              </div>
              <div class="row answer" id="answer">
                <h5 style="margin-left: 70px;">Very disagree</h1>
                  <div class="col-sm input-radio">
                    {{form.hidden_tag()}}
                    {% for subfield in form.answer17 %}
                    <tr>
                      <td>{{ subfield }}</td>
                      <td>{{ subfield.label(class_="radio-button") }}</td>
                    </tr>
                    {% endfor %}
                  </div>
                  <h5 style="margin-right: 70px;">Very agree</h1>
              </div>
            </div>
            <div class="block" id="t2q9a18">
              <div class="row question">
                <div class="col">
                  <h2>Saya mahir menggunakan sistem emel</h2>
                </div>
              </div>
              <div class="row answer" id="answer">
                <h5 style="margin-left: 70px;">Very disagree</h1>
                  <div class="col-sm input-radio">
                    {{form.hidden_tag()}}
                    {% for subfield in form.answer18 %}
                    <tr>
                      <td>{{ subfield }}</td>
                      <td>{{ subfield.label(class_="radio-button") }}</td>
                    </tr>
                    {% endfor %}
                  </div>
                  <h5 style="margin-right: 70px;">Very agree</h1>
              </div>
            </div>
            <div class="block" id="t2q10a19">
              <div class="row question">
                <div class="col">
                  <h2>Semasa mampu mengeluarkan pendapat saya dalam perbincangan e-forum</h2>
                </div>
              </div>
              <div class="row answer" id="answer">
                <h5 style="margin-left: 70px;">Very disagree</h1>
                  <div class="col-sm input-radio">
                    {{form.hidden_tag()}}
                    {% for subfield in form.answer19 %}
                    <tr>
                      <td>{{ subfield }}</td>
                      <td>{{ subfield.label(class_="radio-button") }}</td>
                    </tr>
                    {% endfor %}
                  </div>
                  <h5 style="margin-right: 70px;">Very agree</h1>
              </div>
            </div>
            <div class="block" id="t2q11a20">
              <div class="row question">
                <div class="col">
                  <h2>Saya boleh menulis pandangan saya di platform e-forum dengan baik</h2>
                </div>
              </div>
              <div class="row answer" id="answer">
                <h5 style="margin-left: 70px;">Very disagree</h1>
                  <div class="col-sm input-radio">
                    {{form.hidden_tag()}}
                    {% for subfield in form.answer20 %}
                    <tr>
                      <td>{{ subfield }}</td>
                      <td>{{ subfield.label(class_="radio-button") }}</td>
                    </tr>
                    {% endfor %}
                  </div>
                  <h5 style="margin-right: 70px;">Very agree</h1>
              </div>
            </div>
            <div class="block" id="t2q12a21">
              <div class="row question">
                <div class="col">
                  <h2>Saya mempunyai kemahiran literasi komputer yang baik (Contoh, Microsoft Word, Excel, PowerPoint,
                    dll.)
                  </h2>
                </div>
              </div>
              <div class="row answer" id="answer">
                <h5 style="margin-left: 70px;">Very disagree</h1>
                  <div class="col-sm input-radio">
                    {{form.hidden_tag()}}
                    {% for subfield in form.answer21 %}
                    <tr>
                      <td>{{ subfield }}</td>
                      <td>{{ subfield.label(class_="radio-button") }}</td>
                    </tr>
                    {% endfor %}
                  </div>
                  <h5 style="margin-right: 70px;">Very agree</h1>
              </div>
            </div>
            <div class="block" id="t3q1a22">
              <div class="row question">
                <div class="col">
                  <h2>Saya dapat menyelesaikan masalah pembelajaran dengan baik</h2>
                </div>
              </div>
              <div class="row answer" id="answer">
                <h5 style="margin-left: 70px;">Very disagree</h1>
                  <div class="col-sm input-radio">
                    {{form.hidden_tag()}}
                    {% for subfield in form.answer22 %}
                    <tr>
                      <td>{{ subfield }}</td>
                      <td>{{ subfield.label(class_="radio-button") }}</td>
                    </tr>
                    {% endfor %}
                  </div>
                  <h5 style="margin-right: 70px;">Very agree</h1>
              </div>
            </div>
            <div class="block" id="t3q2a23">
              <div class="row question">
                <div class="col">
                  <h2>Saya dapat menyelesaikannya tugasan sebelum tarikh akhir penghantaran</h2>
                </div>
              </div>
              <div class="row answer" id="answer">
                <h5 style="margin-left: 70px;">Very disagree</h1>
                  <div class="col-sm input-radio">
                    {{form.hidden_tag()}}
                    {% for subfield in form.answer23 %}
                    <tr>
                      <td>{{ subfield }}</td>
                      <td>{{ subfield.label(class_="radio-button") }}</td>
                    </tr>
                    {% endfor %}
                  </div>
                  <h5 style="margin-right: 70px;">Very agree</h1>
              </div>
            </div>
            <div class="block" id="t3q3a24">
              <div class="row question">
                <div class="col">
                  <h2>Saya bersedia meminta pertolongan daripada rakan kursus atau pensyarah untuk menyelesaikan masalah
                    pembelajaran </h2>
                </div>
              </div>
              <div class="row answer" id="answer">
                <h5 style="margin-left: 70px;">Very disagree</h1>
                  <div class="col-sm input-radio">
                    {{form.hidden_tag()}}
                    {% for subfield in form.answer24 %}
                    <tr>
                      <td>{{ subfield }}</td>
                      <td>{{ subfield.label(class_="radio-button") }}</td>
                    </tr>
                    {% endfor %}
                  </div>
                  <h5 style="margin-right: 70px;">Very agree</h1>
              </div>
            </div>
            <div class="block" id="t3q4a25">
              <div class="row question">
                <div class="col">
                  <h2>Saya dapat mengenalpasti isu atau masalah pada tugasan yang sedang saya jalankan</h2>
                </div>
              </div>
              <div class="row answer" id="answer">
                <h5 style="margin-left: 70px;">Very disagree</h1>
                  <div class="col-sm input-radio">
                    {{form.hidden_tag()}}
                    {% for subfield in form.answer25 %}
                    <tr>
                      <td>{{ subfield }}</td>
                      <td>{{ subfield.label(class_="radio-button") }}</td>
                    </tr>
                    {% endfor %}
                  </div>
                  <h5 style="margin-right: 70px;">Very agree</h1>
              </div>
            </div>
            <div class="block" id="t3q5a26">
              <div class="row question">
                <div class="col">
                  <h2>Saya dapat mencari pelbagai jalan penyelesaian alternatif dalam menyelesaikan isu pembelajaran
                  </h2>
                </div>
              </div>
              <div class="row answer" id="answer">
                <h5 style="margin-left: 70px;">Very disagree</h1>
                  <div class="col-sm input-radio">
                    {{form.hidden_tag()}}
                    {% for subfield in form.answer26 %}
                    <tr>
                      <td>{{ subfield }}</td>
                      <td>{{ subfield.label(class_="radio-button") }}</td>
                    </tr>
                    {% endfor %}
                  </div>
                  <h5 style="margin-right: 70px;">Very agree</h1>
              </div>
            </div>
            <div class="block" id="t3q6a27">
              <div class="row question">
                <div class="col">
                  <h2>Saya boleh bekerjasama dengan baik dengan rakan kursus dalam tugasan kumpulan</h2>
                </div>
              </div>
              <div class="row answer" id="answer">
                <h5 style="margin-left: 70px;">Very disagree</h1>
                  <div class="col-sm input-radio">
                    {{form.hidden_tag()}}
                    {% for subfield in form.answer27 %}
                    <tr>
                      <td>{{ subfield }}</td>
                      <td>{{ subfield.label(class_="radio-button") }}</td>
                    </tr>
                    {% endfor %}
                  </div>
                  <h5 style="margin-right: 70px;">Very agree</h1>
              </div>
            </div>
            <div class="block" id="t3q7a28">
              <div class="row question">
                <div class="col">
                  <h2>Saya boleh mengintegrasikan idea bersama rakan sekursus dalam pembelajaran secara dalam talian
                  </h2>
                </div>
              </div>
              <div class="row answer" id="answer">
                <h5 style="margin-left: 70px;">Very disagree</h1>
                  <div class="col-sm input-radio">
                    {{form.hidden_tag()}}
                    {% for subfield in form.answer28 %}
                    <tr>
                      <td>{{ subfield }}</td>
                      <td>{{ subfield.label(class_="radio-button") }}</td>
                    </tr>
                    {% endfor %}
                  </div>
                  <h5 style="margin-right: 70px;">Very agree</h1>
              </div>
            </div>
            <div class="block" id="t3q8a29">
              <div class="row question">
                <div class="col">
                  <h2>Saya selalu menawarkan diri untuk menjadi ketua dalam tugasan kumpulan</h2>
                </div>
              </div>
              <div class="row answer" id="answer">
                <h5 style="margin-left: 70px;">Very disagree</h1>
                  <div class="col-sm input-radio">
                    {{form.hidden_tag()}}
                    {% for subfield in form.answer29 %}
                    <tr>
                      <td>{{ subfield }}</td>
                      <td>{{ subfield.label(class_="radio-button") }}</td>
                    </tr>
                    {% endfor %}
                  </div>
                  <h5 style="margin-right: 70px;">Very agree</h1>
              </div>
            </div>
            <div class="block" id="t3q9a30">
              <div class="row question">
                <div class="col">
                  <h2>Saya boleh memimpin ahli kumpulan tugasan dengan baik</h2>
                </div>
              </div>
              <div class="row answer" id="answer">
                <h5 style="margin-left: 70px;">Very disagree</h1>
                  <div class="col-sm input-radio">
                    {{form.hidden_tag()}}
                    {% for subfield in form.answer30 %}
                    <tr>
                      <td>{{ subfield }}</td>
                      <td>{{ subfield.label(class_="radio-button") }}</td>
                    </tr>
                    {% endfor %}
                  </div>
                  <h5 style="margin-right: 70px;">Very agree</h1>
              </div>
            </div>

            <fieldset>
              <div class="form-group center" style="margin-bottom: 20rem; margin-top: 5rem;">
                <button class="btn-primary btn-lg" type="button" id="btnSubmit">Submit</button>
              </div>
            </fieldset>
          </div>
        </div>
      </div>


    </form>
  </div>
</div>

{%endblock%}