{%extends 'base.html'%}
{%block head%}
<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/loginStyle.css') }}">
<!------ Include the above in your HEAD tag ---------->
{%endblock%}

{%block body%}
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        
        <!-- Icon -->
        <div class="fadeIn first">
            <img src="static/assets/img/tajma-logo.jpg" id="icon" alt="User Icon" />
        </div>
        <div id='message'>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        <!-- Register Form -->
        <form method="POST" action="">
            <!--security-->
            {{form.hidden_tag()}}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Verify Email</legend>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %} 
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    <br>
                    {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.verify(class="btn btn-outline-info") }}
                </div>
                <!-- {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <p style="text-align:left ; margin-left:10px; margin-right: 10px;">{{ message }}</p>
                {% endfor %}
                {% endif %}
                {% endwith %} -->
            </fieldset>
            <!-- <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Log In"> -->
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <div class="row">
                <div class="col">
                    <a class="underlineHover" href="#">Forgot Password?</a>
                </div>
                <div class="col">
                    <a class="underlineHover" href="/">Home</a>
                </div>
            </div>
        </div>

    </div>
</div>
{%endblock%}