input[type="radio"]:checked + label {
  background-color: rgb(255, 255, 255);
  border: none
}
input[type="radio"]:hover + label {
  background-color: rgb(255, 255, 255);
}
input[type="radio"]:focus + label {
  background-color: rgb(255, 255, 255);
}
